html {
    background: linear-gradient(135deg, blue, #fb3182) no-repeat center center fixed;
    background-size: cover;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Verdana', sans-serif;
}

.home-btn {
    text-decoration: none;
    color: black;
    padding: 1rem 7%;
    display: block;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    margin: 0 auto;
}

a:visited {
    color: black;
}

h1 {
    text-transform: uppercase;
    text-align: center;
}

.img {
    background: url('images/closed.svg') no-repeat center center;
    background-size: contain;
    flex-basis: 30vh;
    width: 100%;
    margin-top: 1rem;
}

.open {
    background-image: url('images/open.svg');
}

.para {
    text-align: center;
}

.keys {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

kbd {
    cursor: pointer;
    border: 0.25rem solid black;
    border-radius: 0.5rem;
    margin: 1rem;
    padding: 1rem 1.5rem;
    transition: all 0.5s;
    font-size: 2rem;
}

.singing {
    transform: scale(1.1);
    border-color: orange;
    box-shadow: 5px 10px 8px black;
}